importFrom(magrittr,"%>%")
export(hello)

export(normaliseResultsTable)
export(extractSex)
export(highlightNames)
export(stageTimesToSeconds)

export(meltTimePerLap)

export(plotTimePerLap)
export(plotRankCumulative)
