importFrom(magrittr,"%>%")

export(normaliseResultsTable)
export(extractSex)
export(highlightNames)
export(stageTimesToSeconds)

export(meltTimePerLap)
export(meltCumulativeRank)


export(plotTimePerLap)
export(plotRankCumulative)
